.home img {
  width: 100%;
}
/* .home {
  display: flex;
}
.left-home {
  width: 55%;
  height: 100vh;
}
.left-home img {
  width: 100%;
  height: 100%;
}
.right-home {
  width: 45%;
}
.right-home h1 {
  font-size: 4vw;
  font-family: poppins;
  font-weight: 600;
}
.right-home p {
  font-family: Verdana, Tahoma;
}
.portfolio-btn {
  background-color: var(--primary-color);
  border: none;
  padding: 5px 15px;
  border-radius: 7px;
  color: white;
  font-weight: 600;
} */
